<div class="container">

    <div class="title-wrapper">
        <i class="fa fa-pencil"></i>
        <div class="title" *ngIf="offerId == 0">
            Kreiraj ponudu
        </div>
        <div class="title" *ngIf="offerId != 0">
            Izmeni ponudu
        </div>
    </div>

    <form (submit)="f.form.valid && save()" #f="ngForm">
        <div class="row">

            <div class="col-sm-6">
              <label>Naziv</label>
              <input class="form-control" name="name" [(ngModel)]="offer.name" #name="ngModel" required/>
              <div *ngIf="f.submitted && name.invalid" class="form-control-error">Naziv je obavezan</div>
            </div>

            <div class="col-sm-6">
                <label>Cena</label>
                <input class="form-control" type="number" min="0" name="price" [(ngModel)]="offer.price" (ngModelChange)="validatePrice()"/>
                <div *ngIf="f.submitted && !priceValid" class="form-control-error">Cena mora biti veća od 0</div>
            </div>

            <div class="col-sm-6">
                <label>Početak</label>
                <input type="date" class="form-control" name="startDate" [(ngModel)]="offer.startDate" (ngModelChange)="validateDates()"/>
                <div *ngIf="f.submitted && !startDateValid" class="form-control-error">Početak mora biti nakon danas</div>
            </div>

            <div class="col-sm-6">
                <label>Kraj</label>
                <input type="date" class="form-control" name="endDate" [(ngModel)]="offer.endDate" (ngModelChange)="validateDates()"/>
                <div *ngIf="f.submitted && !endDateValid" class="form-control-error">Kraj mora biti nakon početka</div>
            </div>

            <div class="col-sm-12">
                <label>Opis</label>
                <textarea class="form-control" name="description" [(ngModel)]="offer.description" #description="ngModel" required rows="5"></textarea>
                <div *ngIf="f.submitted && description.invalid" class="form-control-error">Opis je obavezan</div>
            </div>

            <div class="col-sm-6">
                <label>Način prevoza</label>
                <select class="form-control" name="transportationType" [(ngModel)]="offer.transportationType" #transportationType="ngModel" required>
                    <option value="" selected disabled>Odaberite način prevoza</option>
                    <option *ngFor="let x of transportationTypes" [ngValue]="x.name">{{x.name}}</option>
                </select>
                <div *ngIf="f.submitted && transportationType.invalid" class="form-control-error">Način prevoza je obavezan</div>
            </div>

            <div class="col-sm-6">
                <label>Tip ponude</label>
                <select class="form-control" name="offerType" [(ngModel)]="offer.offerType" #offerType="ngModel" required>
                    <option value="" selected disabled>Odaberite tip ponude</option>
                    <option *ngFor="let x of offerTypes" [ngValue]="x.name">{{x.name}}</option>
                </select>                
                <div *ngIf="f.submitted && offerType.invalid" class="form-control-error">Tip ponude je obavezan</div>
            </div>

            <div class="col-sm-6">
                <label>Mesto polaska</label>
                <select class="form-control" name="departureLocation" [(ngModel)]="offer.departureLocation" #departureLocation="ngModel" required>
                    <option value="" selected disabled>Odaberite mesto polaska</option>
                    <option *ngFor="let x of locations" [ngValue]="x.item_text">{{x.item_text}}</option>
                </select>                
                <div *ngIf="f.submitted && departureLocation.invalid" class="form-control-error">Mesto polaska je obavezno</div>
            </div>

            <div class="col-sm-6">
                <label>Lokacije</label>
                <ng-multiselect-dropdown 
                    name="locations"
                    [placeholder]="'Odaberite lokacije'"
                    (onSelect)="onLocationSelect($event)"
                    (onDeSelect)="onLocationDeselect($event)"
                    [settings]="dropdownSettings"
                    [(ngModel)]="selectedLocations"
                    [data]="locations">
                </ng-multiselect-dropdown>
                <div *ngIf="f.submitted && !locationsValid" class="form-control-error">Najmanje jedna lokacija mora biti odabrana</div>
            </div>

            <div class="col-sm-6">
                <label>Tagovi</label>
                <ng-multiselect-dropdown
                    name="tags"
                    [placeholder]="'Odaberite tagove'"
                    (onSelect)="onTagSelect($event)"
                    (onDeSelect)="onTagDeselect($event)"
                    [settings]="dropdownSettings"
                    [(ngModel)]="selectedTags"
                    [data]="tags">
                </ng-multiselect-dropdown>
                <div *ngIf="f.submitted && !tagsValid" class="form-control-error">Najmanje jedan tag mora biti odabran</div>
            </div>

            <div class="col-sm-6">
                <label>Broj slobodnih mesta</label>
                <input class="form-control" type="number" min="0" name="availableSpots" [(ngModel)]="offer.availableSpots" (ngModelChange)="validateAvailableSpots()"/>
                <div *ngIf="f.submitted && !availableSpotsValid" class="form-control-error">Broj slobodnih mesta mora biti veći od 0</div>
            </div>

          <div class="btn-wrapper">
              <button type="submit" class="btn">Sačuvaj</button>
          </div>
          
        </div>
    </form>

</div>

