
@import '~@angular/material/theming';

@include mat-core();

$TravelAgent-Ng-primary: mat-palette($mat-pink);
$TravelAgent-Ng-accent: mat-palette($mat-pink, A200, A100, A400);

$TravelAgent-Ng-warn: mat-palette($mat-red);

$TravelAgent-Ng-theme: mat-light-theme((
  color: (
    primary: $TravelAgent-Ng-primary,
    accent: $TravelAgent-Ng-accent,
    warn: $TravelAgent-Ng-warn,
  )
));

@include angular-material-theme($TravelAgent-Ng-theme);

$btn-background: #9d8189;
$backgound: #f9f9f9;
$card-color: #edede9;
$turquoise: #3f979b;
$pink: #d5b4b4;
$desc: #E4DCCF;
$navbar: #38444d;
$dropdown: #8294C4;
$dropdown-hover: #ACB1D6;

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: $backgound;
    margin-top: 4rem;
}

.btn {
    background-color: $btn-background;
    color: white;
    border: none;
    border-radius: 0.2rem;
    border: 0.1rem solid $btn-background;
    padding: 0.4rem;
    margin-top: 0.4rem;
    width: 5rem;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: $card-color;
    color: $btn-background;
    border: 0.1rem solid $btn-background;
}

.btn-contrast {
    background-color: $card-color;
    color: $btn-background;
    border-radius: 0.2rem;
    border: 0.1rem solid $card-color;
    padding: 0.4rem;
    margin-top: 0.4rem;
    width: 5rem;
    transition-duration: 0.2s;
}

.btn-contrast:hover {
    background-color: $card-color;
    color: $btn-background;
    border: 0.1rem solid $btn-background;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 600;
}

.ml-1 {
    margin-left: 0.4rem;
}

.flex-wrapper {
    display: flex;
}

.form-control-error {
    color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
