<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje taga</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Izmena taga {{data.name}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje taga {{data.name}}</h3>
    <form class="mat-dialog-content" #formControl= "ngForm">
        <div class="form">
           <mat-form-field>
               <input matInput placeholder="Naziv" [(ngModel)] = "data.name" name="name" [disabled]= "flag == 3" required>
           </mat-form-field>     
        </div>
        <div class="btn-wrapper">
            <button class="btn" *ngIf="flag==1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button class="btn" *ngIf="flag==2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button class="btn" *ngIf="flag==3" type="submit" [mat-dialog-close]="1" (click)="delete()">
                Obriši
            </button>
            <button class="btn" (click)="cancel()">
                Poništi
            </button>
        </div>
    </form>
</div>