@import '../../../styles.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.top-wrapper {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    width: 88%;
}

.card {
    width: 20rem;
    height: 34rem;
    background-color: $card-color;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding-bottom: 0.4rem;

    .img-wrapper:hover .offer-img {
        opacity: 0.3;
    }

    .img-wrapper:hover .top-right, .img-wrapper:hover .bottom-left {
        opacity: 0;
    }

    .img-wrapper:hover .img-hover {
        opacity: 1;
    }

    .img-wrapper {
        position: relative;
    
        .offer-img {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            border-radius: 0.4rem 0.4rem 0 0;
        }

        .img-hover {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .img-btn {
            background-color: white;
            padding: 0.6rem;
            border-radius: 0.2rem;
            border: none;
        }

        .bottom-left {
            position: absolute;
            bottom: 0;
            padding: 0.3rem;
            background-color: $turquoise;
            color: white;
            border-radius: 0 0.2rem 0.2rem 0;
            transition: .5s ease;
        }

        .top-right {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.3rem;
            background-color: $pink;
            color: white;
            border-radius: 0.2rem 0.2rem 0 0.2rem;
            transition: .5s ease;
        }
    }

    .body {
        height: 80%;
        width: 80%;
        padding-top: 0.4rem;
        text-align: center;
        position: relative;

        .title {
            font-size: 1.4rem;
        }

        .subtitle-wrapper {
            margin: 1rem;
        }

        .price-wrapper {
            position: absolute;
            bottom: 0.4rem;
            right: 0;

            .price {
                color: $turquoise;
                font-size: 2rem;
            }
        }

        .inline-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0.4rem;

            .wishlist-btn {
                border: none;
                background: none;
            }
        }
    }

    .bottom-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0.2rem;
        width: 88%;

        .btn-wrapper {
            display: flex;
            gap: 0.6rem;
        }

        .btn-contrast {
            width: 7rem;
            border: 0.1rem solid $btn-background;
            cursor: default;
        }
    }
}

.dropbtn {
    display: inline-block;
    color: $navbar;
    border: $navbar 0.1rem solid;
    border-radius: 0.2rem;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    margin-bottom: 0;
}
  
.dropdown:hover .dropbtn {
    cursor: pointer;
}
  
dropdown {
    display: inline-block;
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: fixed;
    min-width: 12rem;
    z-index: 1;
    padding: 0;
}
  
.dropdown-content button {
    color: $navbar;
    padding: 0.4rem;
    text-decoration: none;
    border-radius: 0.2rem;
    border: $desc 0.1rem solid;
    display: block;
    text-align: left;
    width: 12rem;
}
  
.dropdown-content button:hover {
    background-color: $dropdown-hover;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

