@import '../../../styles.scss';

.card {
    width: 20rem;
    height: 26rem;
    background-color: #edede9;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding-bottom: 0.4rem;

    img {
        width: 20rem;
        height: 10rem;
        border-radius: 0.4rem;
    }

    .body {
        height: 50%;
        padding-top: 0.4rem;
        background-color: aliceblue;

        .title {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        .location-wrapper, .price {
            margin: 1rem;
        }
    }

    .btn {
        background-color: $btn-background;
        color: white;
        border: none;
        border-radius: 0.2rem;
        padding: 0.6rem;
        margin-top: 0.4rem;
        width: 4rem;
    }
}

.container {
    display: flex;
}

